*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

body {
  font-family: sans-serif;
  font-size: calc(1rem + 0.5vw);
  line-height: 1.5;
  background-color: #ddd;
  color: #222;
  padding: 1rem;
}

ul {
  padding: 1.25rem;
}

:focus {
  outline: 0.3em solid;
}

img,
svg {
  vertical-align: middle;
}

svg {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

svg path {
  fill: currentColor;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

h2 + * {
  --flow-space: 0.5em;
}

a {
  text-underline-offset: 0.3em;
}

main,
footer {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.card {
  border: 0.3rem solid;
  padding: 1rem;
}

.h-entry h2 {
  --flow-space: 1em;
}

.h-entry .card p {
  font-size: calc(1rem + 1vw);
}

.p-author {
  display: grid;
  grid-template-columns: 3em 1fr 2em;
  align-items: center;
  gap: 0.5rem;
}

.u-photo {
  border: 0.3rem solid;
}
